<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <a href="/"><img src="/logo.png" alt="Clubs Fore! Sale logo" width="100" height="100"></a>
      
      <div>
      <h1>Clubs FORE! Sale</h1>
      <ul>
        <li><a class="active" href="/">Home</a></li>
          <li><a href="/shop/new">Sell</a></li>
            <li><a href="/shop">Shop</a></li>
      </ul>
      </div>  

      <div class="right-nav-div">
        <form id="search-form">
          <input id="search-input" href="/shop/items/" type="text" onclick="" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button> 
        </form>
        <div id="login-signup-div">
          <a id="login">login</a>
          <a id="signup">sign up</a>
        </div>
      </div>      
    </header>
  </body>
  </html>