<%- include('./partials/header.ejs')%>

    <main>
      <div id="landing-page">
        <h1 id="welcome-h1">Welcome to Clubs FORE! Sale!</h1> 
        <P>The best place to but, sell, and trade used and new golf equipment!</P>
      </div>

        
    </main>

  
  </body>
  <%- include('./partials/footer.ejs')%>
</html>